@font-face {
    font-family: 'xbmt';
    src:    url('fonts/xbmt.eot?ymilov');
    src:    url('fonts/xbmt.eot?ymilov#iefix') format('embedded-opentype'),
        url('fonts/xbmt.ttf?ymilov') format('truetype'),
        url('fonts/xbmt.woff?ymilov') format('woff'),
        url('fonts/xbmt.svg?ymilov#xbmt') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="xbmt-"], [class*=" xbmt-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'xbmt' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.xbmt-publish:before {
    content: "\e937";
}
.xbmt-logo-bg:before {
    content: "\e938";
}
.xbmt-delivery:before {
    content: "\e939";
}
.xbmt-settle:before {
    content: "\e93a";
}
.xbmt-edit-round:before {
    content: "\e900";
}
.xbmt-edit:before {
    content: "\e901";
}
.xbmt-play:before {
    content: "\e902";
}
.xbmt-purchase:before {
    content: "\e903";
}
.xbmt-my-purchase:before {
    content: "\e904";
}
.xbmt-seach:before {
    content: "\e905";
}
.xbmt-thumbsup:before {
    content: "\e906";
}
.xbmt-tel:before {
    content: "\e907";
}
.xbmt-tel-find:before {
    content: "\e908";
}
.xbmt-publish-round:before {
    content: "\e909";
}
.xbmt-find:before {
    content: "\e90a";
}
.xbmt-share:before {
    content: "\e90b";
}
.xbmt-happy-outline:before {
    content: "\e90c";
}
.xbmt-my-shop:before {
    content: "\e90d";
}
.xbmt-gou:before {
    content: "\e90e";
}
.xbmt-close-solid:before {
    content: "\e90f";
}
.xbmt-rmb:before {
    content: "\e910";
}
.xbmt-wait:before {
    content: "\e911";
}
.xbmt-add-agent:before {
    content: "\e912";
}
.xbmt-user-headset:before {
    content: "\e913";
}
.xbmt-link:before {
    content: "\e914";
}
.xbmt-coal-news:before {
    content: "\e915";
}
.xbmt-unlock:before {
    content: "\e916";
}
.xbmt-company:before {
    content: "\e917";
}
.xbmt-in-shop:before {
    content: "\e918";
}
.xbmt-clear:before {
    content: "\e919";
}
.xbmt-hot:before {
    content: "\e91a";
}
.xbmt-auth:before {
    content: "\e91b";
}
.xbmt-pass-hook:before {
    content: "\e91c";
}
.xbmt-dustbin:before {
    content: "\e91d";
}
.xbmt-shop:before {
    content: "\e91e";
}
.xbmt-up-arrow:before {
    content: "\e91f";
}
.xbmt-set:before {
    content: "\e920";
}
.xbmt-up-hollow:before {
    content: "\e921";
}
.xbmt-video:before {
    content: "\e922";
}
.xbmt-heart:before {
    content: "\e923";
}
.xbmt-home-round:before {
    content: "\e924";
}
.xbmt-shou:before {
    content: "\e925";
}
.xbmt-bell:before {
    content: "\e926";
}
.xbmt-nominate:before {
    content: "\e927";
}
.xbmt-question:before {
    content: "\e928";
}
.xbmt-user-round:before {
    content: "\e929";
}
.xbmt-down-arrow:before {
    content: "\e92a";
}
.xbmt-shopping:before {
    content: "\e92b";
}
.xbmt-integral-shop:before {
    content: "\e92c";
}
.xbmt-horn:before {
    content: "\e92d";
}
.xbmt-lock:before {
    content: "\e92e";
}
.xbmt-eye:before {
    content: "\e92f";
}
.xbmt-captcha:before {
    content: "\e930";
}
.xbmt-user:before {
    content: "\e931";
}
.xbmt-pass-hook-solid:before {
    content: "\e932";
}
.xbmt-clock:before {
    content: "\e933";
}
.xbmt-up-solid:before {
    content: "\e934";
}
.xbmt-zhi:before {
    content: "\e935";
}
.xbmt-new:before {
    content: "\e936";
}

